    /* Google Font */

   /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

    * {

      margin: 0;

      padding: 0;

      box-sizing: border-box;

      font-family: 'Poppins', sans-serif;

    }*/
body {
  font-family: 'Poppins', sans-serif;
  background: #0d1b2a; /* dark navy */
  color: #e0e1dd; /* soft gray text */
  min-height: 100vh;
}

.card {
  background: #1b263b; 
  border-radius: 12px;
  color: #e0e1dd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  display: flex;
}
small.text-muted {
  color: #00f7ff !important; 
  text-shadow: 0 0 5px rgba(0, 248, 245, 0.7);
}

#temp {
  color: #00f7ff; 
}

#conditionIcon {
  filter: drop-shadow(0 2px 6px rgba(0,0,0,0.4));
}


#status {
  min-height: 28px;
  color: #ffcc00;
}


.btn-primary {
  background: linear-gradient(145deg, #00c6ff, #0072ff);
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background: linear-gradient(145deg, #0072ff, #00c6ff);
}

.btn-outline-secondary {
  color: #e0e1dd;
  border-color: #374e6b;
}

.btn-outline-secondary:hover {
  background: #3a506b;
  color: #fff;
}

